.comment
  background-color #dedede
  margin-top 10px
  margin-bottom 10px
  border-bottom 1px dotted #ccc

.titlecomment
  font-family 'Montserrat', sans-serif

.space3
  margin-top 30px
  margin-bottom 30px
