template(name="website_single")
  +addComment
  ol.breadcrumb
    li
      a(href='/') Home
    li.active {{website.title}}
  h1 {{website.title}}
  .row
    .col-md-6.space3
      | description: {{website.description}}
    .col-md-6
      | votes: {{website.votes}} created date: {{website.createdOn}}
      +if currentUser
        button#addComment.btn.btn-success.btn-sm.space3  Add Comment
  .row
    .col-md-12
      h1 Comments    
  .row
    each website.comment
      .col-md-12.comment
        .titlecomment {{title}}
        | {{createdat}} - by {{getUser author}}
      
