<template name="searchResult">
  {{#each getWebsites}}
<div class="package">
  <h4 class="name">
    <a href="{{url}}" target="_blank">{{{title}}}</a>
  </h4>
  <div class="description">
    {{{description}}}
  </div>
</div>
{{/each}}
</template>

<template name="searchBox">
  <div class="container">
  	<div class="row">
  		  <h2>Search for Websites</h2>
        <div id="custom-search-input">
          <div class="input-group col-md-12">
            <input type="text" id="search-box" class="search-query form-control" placeholder="Search" />
              <span class="input-group-btn">
                <button class="btn btn-danger" type="button">
                  <span class=" glyphicon glyphicon-search"></span>
                </button>
              </span>
          </div>
        </div>
  	</div>
  </div>
</template>
