template(name='website_item')
  .container
    li.website_item
      a.colortitle(href='{{url}}')
        .colortitle {{title}}
      .row
        .col-md-3
           p
             | {{description}}
           a.btn.btn-xs.btn-success.yes.js-upvote(href='#')
             i.icon-thumbs-up
             |  Yes {{yes}}
           a.btn.btn-xs.btn-primary.no.js-downvote(href='#')
             i.icon-thumbs-down
             |  No {{no}}
           //a.btn.btn-default.btn-sm.js-upvote(href='#')
             span.glyphicon.glyphicon-arrow-up(aria-hidden='true')
           //a.btn.btn-default.btn-sm.js-downvote(href='#')
           //  span.glyphicon.glyphicon-arrow-down(aria-hidden='true')
        .col-md-3
          p.votes Votes: {{ yes }} created: {{createdOn}}
        .col-md-3
          button#removeWebsite.btn.btn-sm.btn-danger Remove
          a(href="/website/{{_id}}")#js-sessions Read More