.website_item
  margin-top 10px
  margin-bottom 10px
  padding 10px

.website_item  a
  font-size 150%
  font-family 'Montserrat', sans-serif

.votes
  font-family 'Montserrat', sans-serif
  color #cc0000

.colortitle
  background-color #ededed
