template(name='website_form')
   +if currentUser
     a.btn.btn-default.js-toggle-website-form(href='#')
       span.glyphicon.glyphicon-plus(aria-hidden='true')
     #website_form.hidden_div
         +quickForm collection="Websites" id="insertWebsiteForm" type="insert" omitFields="comment"
