template(name="addComment")
  #addCommentModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
   .modal-dialog(role='document')
     .modal-content
       .modal-header
         button.close(type='button', data-dismiss='modal', aria-label='Close')
           span(aria-hidden='true') ×
         h4#myModalLabel.modal-title Add a Comment
       .modal-body
         +quickForm id="updatePushForm" type="update-pushArray" collection='Websites' doc=exampleDoc scope="comment"
       .modal-footer
         button.btn.btn-default(type='button', data-dismiss='modal') Close
